<style>
    @charset "UTF-8";

    body {
        /*background-color:whitesmoke;*/
        z-index: 0;

    }

    /*
    .all_container{
        position: relative;
    }
    */
    .next_button {
        position: absolute;
        margin-top: -300px;
        background-color: cornsilk;
        width: 10%;
        padding: 20px;
        font-size: 110%;
    }

    .quiz_container {

        background-position: center;
        background-position-y: -500px;

    }

    .quiz {
        /*background: thistle;*/
        /*background-position: center top;*/
        position: relative;
        background-image: url("{{ url_for('static', filename='/images/84932.png') }}");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 150%;
        /*margin-bottom: 5vh;*/


        height: 500px;
        width: 700px;
        /*transform :rotate(200deg);*/
    }

    #quiz_line {
        position: relative;
        top: 30px;
    }


    .buttons {
        position: relative;
        z-index: 999;
        display: flex;
        justify-content: space-around;

    }

    .button {
        background-color: rgb(243, 46, 128);
        width: 10%;
        padding: 20px;
        font-size: 110%;
        border-radius: 10px;
        z-index: 999;
    }

    .containers {
        background-color: rgb(255, 203, 92);
        padding: 30px;
        border-radius: 20px;
        transform: scale(0.5);
        position: fixed;
        right: 100px;
        top: -100px;

    }

    .player_container {


        background-color: rgb(59, 216, 255);
        /*-webkit-text-stroke:1px rgb(255, 255, 255);*/
        border-radius: 30px;
        width: 200px;
        height: 200px;
        justify-content: center;
        padding: 1px;
        transform: scale(1);
        margin: 10px 0px 10px 0px;
        transition: all 1s ease;

    }

    .player_container:hover {
        transform: translateY(400%);

    }

    .name {
        background-color: white;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
        text-align: center;
        font-size: 30px;


    }

    .point {
        background-color: rgb(240, 255, 158);
        width: 150px;
        height: 100px;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        text-align: center;
        line-height: 100px;
        font-size: 30px;
        border: solid 5px rgb(133, 255, 154);

    }
</style>

<div class="all_container">
    <!--<div class="showing_name"></div>-->

    <div class="containers">

        <div class="player_container"id ="player1" style="opacity: 0;">
            <div class="name" id="name1">谷口令</div>
            <div class="point"id="score1">100pt</div>
        </div>

        <div class="player_container"id ="player2"style="opacity: 0;" >
            <div class="name"id="name2">谷口令</div>
            <div class="point"id="score2">100pt</div>
        </div>

        <div class="player_container"id ="player3"style="opacity: 0;">
            <div class="name"id="name3">谷口令</div>
            <div class="point"id="score3">100pt</div>
        </div>

        <div class="player_container"id ="player4"style="opacity: 0;">
            <div class="name"id="name4">谷口令</div>
            <div class="point"id="score4">100pt</div>
        </div>
    </div>


    <div class="quiz_container">
        <div class="quiz">
            <h3 id="quiz_line" style="animation: typing 1.5s ;">ここに問題が表示されます</h3>

        </div>
    </div>
    <input type="button" class="next_button button" onclick="OnNextQuiz();this.disabled =true;this,document.body.style.backgroundColor = 'red'"value="クイズ開始">


    <div class="buttons">

        <input type="button" class="button" id="button1" value="1番" onclick=OnAnswer(this.id)>
        <input type="button" class="button" id="button2" value="2番" onclick=OnAnswer(this.id)>
        <input type="button" class="button" id="button3" value="3番" onclick=OnAnswer(this.id)>
        <input type="button" class="button" id="button4" value="4番" onclick=OnAnswer(this.id)>
    </div>
    <div style=" 
    font-size: 500px;
    color: red;
    margin-top: -165vh;
    margin-left: 30vw;
    z-index: 998;
    opacity: 0.7;
    " class='answer'>
        <p id='answer'></p>
    </div>

    <div style=" 
    position:relative;
    top:200px;
    font-size: 100px;
    color:rgb(255, 0, 0);
    text-align: center;
    margin-top: -130vh;
    z-index: 500;
    opacity: 1;
    -webkit-text-stroke:1px white;
    
    
    ">
        <p id='answer_desc_yomi' style="font-size: 40px;"></p>
        <p id='answer_desc_kanji' style='margin-top: -40px;'></p>
    </div>

</div>




<!-- 
<footer class="footer">
  
    <p>&copy;2021 Raybow</p>
</footer>
-->

<script>
    console.log(my_id);
    console.log(room_name);
    var answer_num = '';
    var json_load;
    var word;

    function OnNextQuiz() {
        document.getElementById('answer').textContent = ''
        document.getElementById('answer_desc_yomi').textContent = ''
        document.getElementById('answer_desc_kanji').textContent = ''

        var url = "/get_quiz"
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                json_load = JSON.parse(xhr.responseText)
                word = JSON.parse(xhr.responseText)['desc'];
                if ('speechSynthesis' in window) {
                    console.log('あるよ')
                    const uttr = new SpeechSynthesisUtterance();
                    uttr.text = word
                    uttr.lang = "ja-JP";
                    uttr.onboundary = function (event) {
                        //console.log(event.charIndex +':'+ event.charLength);
                        document.getElementById('quiz_line').textContent = word.slice(0, event.charIndex + event.charLength + 1);
                    }
                    //console.log(uttr.onboundary)
                    window.speechSynthesis.speak(uttr);

                }


                document.getElementById('button1').value = json_load['choice1'];
                document.getElementById('button2').value = json_load['choice2'];
                document.getElementById('button3').value = json_load['choice3'];
                document.getElementById('button4').value = json_load['choice4'];
                answer_num = json_load['answer_number'];


            }
        }

    }

    function OnAnswer(id) {
        if (id == 'button' + answer_num) {
            speechSynthesis.cancel();
            var data = json_parse[my_number];
            data['TorF'] = 1;
            data['score'] +=100;
            data['answer_num'] = parseInt(id.replace('button', ''), 10);
            var send_data = JSON.stringify(data);
            connection.send(send_data);
            console.log('正解')
            document.getElementById('quiz_line').textContent = word;
            document.getElementById('answer').textContent = '○'
            document.getElementById('answer').style.color = 'red'
            document.getElementById('answer_desc_yomi').textContent = json_load['yomi']
            document.getElementById('answer_desc_kanji').textContent = json_load['kanji']

        } else {
            speechSynthesis.cancel()
            var data = json_parse[my_number];
            data['TorF'] = 0;
            data['answer_num'] = parseInt(id.replace('button', ''), 10);
            var send_data = JSON.stringify(data);
            connection.send(send_data);
            console.log('ハズレ')
            document.getElementById('quiz_line').textContent = word;
            document.getElementById('answer').textContent = '✕'
            document.getElementById('answer').style.color = 'black'
            document.getElementById('answer_desc_yomi').textContent = json_load['yomi']
            document.getElementById('answer_desc_kanji').textContent = json_load['kanji']

        }

    }

    var json_parse = null;
    var copy_json_parse =null
    var my_number;

    var connection = new WebSocket("ws://localhost:9999/ws/");


    var first_flag = true;
    //接続通知
    connection.onopen = function (event) {
        //document.getElementById( "eventType" ).value = "通信接続イベント受信";
        console.log(event.data);
        console.log('room_name=' + room_name + '&ID=' + my_id + '&password=' + password);
        connection.send('room_name=' + room_name + '&ID=' + my_id + '&password=' + password);

    };

    //エラー発生
    connection.onerror = function (error) {
        //document.getElementById( "eventType" ).value = "エラー発生イベント受信";
        console.log(event.data);
    };

    //メッセージ受信
    connection.onmessage = function (event) {
        //document.getElementById( "eventType" ).value = "メッセージ受信";
        if (first_flag) {
            my_number = parseInt(event.data, 10);
            //console.log(my_number);
            first_flag = false;
            console.log("初期化");

        } else {
            console.log(event.data);
            json_parse = JSON.parse(event.data);

          
                
                console.log(json_parse[0]["name"]); 
                for (var count=0;count<4;count++) {
                    //console.log(count +"回目");
                    if(json_parse[count]["name"]!=""){
                        document.getElementById("player" +String(count+1)).style ="opacity: 1;"
                        document.getElementById("score" +String(count+1)).textContent = json_parse[count]["score"] +"pt";      
                        document.getElementById('name' + String(count+1)).textContent = json_parse[count]["name"];
                        if(json_parse[count]["TorF"]!= ""){

                            if(json_parse[count]["TorF"]== 0){
                                document.getElementById("player" +String(count+1)).style ="background-color: black;"

                            }else if(json_parse[count]["TorF"]== 1){
                                document.getElementById("player" +String(count+1)).style ="background-color: red;"
                                console.log(json_parse[count]["name"] + "が正解した！");
                                speechSynthesis.cancel()
                                
                                console.log('先に答えられた！')
                                document.getElementById('quiz_line').textContent = word;
                                document.getElementById('answer').textContent = '✕'
                                document.getElementById('answer').style.color = 'black'
                                document.getElementById('answer_desc_yomi').textContent = json_load['yomi']
                                document.getElementById('answer_desc_kanji').textContent = json_load['kanji']

                            }
                            

                        }       

                    }
                                
                }
            

            if (json_parse != null) {
                copy_json_parse = Object.create(json_parse);

            }



            //console.log(json_parse[0]);


        }




    };

    //切断
    connection.onclose = function () {
        //document.getElementById( "eventType" ).value = "通信切断イベント受信";
        console.log(event.data);
    };

</script>